<app-navbar></app-navbar>

<div class="background-wrapper">
  <div class="container-fluid d-flex align-items-center justify-content-center vh-100">
    <div class="text-center p-5 bg-white rounded shadow-lg">
      <div class="error-code display-1 text-danger">404</div>
      <h1 class="display-4 mb-3">Page Introuvable</h1>
      <p class="lead mb-4">Désolé, la page que vous cherchez n'existe pas ou a été déplacée.</p>
      <button (click)="goBack()" class="btn btn-lg btn-primary">Retour</button>
    </div>
  </div>
</div>

<app-footer></app-footer>
