html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .background-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background: url('https://images.unsplash.com/photo-1499346030926-9a72daac6c63?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&ixlib=rb-1.2.1&q=80&w=1080') no-repeat center center;
    background-size: cover;
    filter: brightness(0.7);
  }
  
  .container-fluid {
    position: relative;
    z-index: 1;
  }
  
  .text-center {
    max-width: 800px;
    padding: 60px;
    background: rgba(255, 255, 255, 0.75); /* Increased brightness and transparency */
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .text-center:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  }
  
  .error-code {
    font-size: 10rem;
    font-weight: 700;
    color: #dc3545;
  }
  
  .display-4 {
    font-size: 3rem;
    font-weight: 600;
    color: #333;
  }
  
  .lead {
    font-size: 1.5rem;
    color: #373535;
    margin-bottom: 30px;
    font-weight: bold;
  }
  
  .btn-lg {
    font-size: 1.5rem;
    padding: 15px 30px;
    background-color: #000000;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    color: #fff;
  }
  
  .btn-lg:hover {
    background-color: #5d6266;
    transform: scale(1.05);
  }
  