<app-navbar></app-navbar>

<div class="background-wrapper">
  <div class="container main-content">
    <div class="content-wrapper">
      <h1 class="mt-5 animated-title"><i class="fas fa-calendar-alt"></i> Nouvelle Fonctionnalité: Intégration avec Google Calendar</h1>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLaruztZ2SnbO6tQx6rI1E2j0hrCm-gjWAug&s" alt="Google Calendar Integration" class="img-fluid rounded mb-4 shadow-lg animated-image">
      <p class="lead animated-text">
        <i class="fas fa-sync-alt"></i> Nous sommes heureux d'annoncer une nouvelle fonctionnalité qui vous permet de synchroniser vos objectifs avec Google Calendar.
        Grâce à cette intégration, vous pouvez facilement gérer et suivre vos objectifs directement depuis votre calendrier Google.
      </p>
      <h2 class="animated-title"><i class="fas fa-question-circle"></i> Comment ça marche ?</h2>
      <p class="instructions animated-text">
        Pour activer cette fonctionnalité, suivez les étapes suivantes :
      </p>
      <ul class="instructions-list animated-list">
        <li><i class="fas fa-sign-in-alt"></i> Connectez votre compte Google à notre application.</li>
        <li><i class="fas fa-cogs"></i> Accédez aux paramètres de synchronisation.</li>
        <li><i class="fas fa-tasks"></i> Sélectionnez les objectifs que vous souhaitez synchroniser avec Google Calendar.</li>
        <li><i class="fas fa-sync"></i> Cliquez sur "Synchroniser" pour terminer le processus.</li>
      </ul>
      <p class="instructions animated-text">
        <i class="fas fa-check-circle"></i> Cette fonctionnalité vous permet de rester organisé et de ne jamais manquer une échéance importante. Essayez-la dès aujourd'hui et faites-nous part de vos commentaires !
      </p>
      <button class="btn btn-primary animated-button" (click)="goBack()"><i class="fas fa-arrow-left"></i> Retour</button>
    </div>
  </div>
</div>

<app-footer></app-footer>