<app-navbar></app-navbar>

<div class="background-wrapper">
  <div class="container main-content">
    <div class="content-wrapper">
      <h1 class="mt-5">Mise à Jour: Nouvelle Interface Utilisateur</h1>
      <img src="https://t3.ftcdn.net/jpg/02/93/37/28/360_F_293372811_2gpgNsJ3TQSPsfAbmBPIYfuKfAw70bpt.jpg" class="card-img-top" alt="News 1">
      <p class="lead">
        Nous sommes heureux d'annoncer une mise à jour majeure de notre application avec une nouvelle interface utilisateur. Cette mise à jour vise à améliorer votre expérience en rendant l'application plus intuitive et facile à utiliser.
      </p>
      <h2>Ce qui a changé :</h2>
      <ul class="instructions-list">
        <li><strong>Design Épuré:</strong> Une interface modernisée avec un design plus propre et plus attrayant.</li>
        <li><strong>Navigation Améliorée:</strong> Accédez à vos fonctionnalités préférées plus rapidement grâce à une navigation simplifiée.</li>
        <li><strong>Personnalisation:</strong> Ajustez l'apparence et le fonctionnement de l'application selon vos préférences personnelles.</li>
        <li><strong>Performance Optimisée:</strong> Profitez de temps de chargement plus rapides et d'une expérience utilisateur plus fluide.</li>
      </ul>
      <h2>Comment ça marche ?</h2>
      <p class="instructions">
        Pour profiter de la nouvelle interface utilisateur, assurez-vous de mettre à jour votre application à la dernière version disponible. Une fois mise à jour, vous serez guidé à travers les nouvelles fonctionnalités pour une prise en main rapide.
      </p>
      <h2>Votre avis compte :</h2>
      <p class="instructions">
        Nous serions ravis de connaître votre opinion sur cette nouvelle interface. Partagez vos retours et suggestions pour nous aider à continuer à améliorer notre application.
      </p>
      <button class="btn btn-primary" (click)="goBack()">Retour</button>
    </div>
  </div>
</div>

<app-footer></app-footer>